<div
  class="flex max-w-lg p-6 lg:space-x-6 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <img
    class="self-center max-w-fit"
    src="{{ imgUrl }}"
    alt="
  {{ pokemon.name | titlecase }}"
  />
  <div class="p-2">
    <h5 class="mb-3 text-2xl font-bold flex items-center">
      <span
        class="rounded-xl px-2 py-0.5 text-sm font-medium ring-1 ring-inset mr-2 w-[6ch]"
        >#{{ pokemon.id }}</span
      >
      {{ pokemon.name | titlecase }}
    </h5>
    <div class="flex space-x-1">
      <span *ngFor="let type of types">
        <span
          class="inline-flex items-center rounded-xl px-2 py-0.5 text-xs font-medium ring-1 ring-inset"
          [ngClass]="{
            'bg-neutral-50 text-neutral-600 ring-neutral-500/10':
              type.type.name === 'normal',
            'bg-orange-50 text-orange-700 ring-orange-700/10':
              type.type.name === 'fire',
            'bg-blue-50 text-blue-700 ring-blue-700/10':
              type.type.name === 'water',
            'bg-yellow-50 text-yellow-800 ring-yellow-600/20':
              type.type.name === 'electric',
            'bg-green-50 text-green-700 ring-green-600/20':
              type.type.name === 'grass',
            'bg-cyan-50 text-cyan-700 ring-cyan-700/10':
              type.type.name === 'ice',
            'bg-red-50 text-red-700 ring-red-600/10':
              type.type.name === 'fighting',
            'bg-fuchsia-50 text-fuchsia-700 ring-fuchsia-700/10':
              type.type.name === 'poison',
            'bg-amber-50 text-amber-700 ring-amber-800/10':
              type.type.name === 'ground',
            'bg-sky-50 text-sky-700 ring-sky-700/10':
              type.type.name === 'flying',
            'bg-pink-50 text-pink-700 ring-pink-700/10':
              type.type.name === 'psychic',
            'bg-lime-50 text-lime-700 ring-lime-600/20':
              type.type.name === 'bug',
            'bg-stone-50 text-stone-600 ring-stone-500/10':
              type.type.name === 'rock',
            'bg-purple-50 text-purple-700 ring-purple-700/10':
              type.type.name === 'ghost',
            'bg-indigo-50 text-indigo-700 ring-indigo-700/10':
              type.type.name === 'dragon',
            'bg-zinc-50 text-zinc-700 ring-zinc-700/10':
              type.type.name === 'dark',
            'bg-gray-50 text-gray-600 ring-gray-500/10':
              type.type.name === 'steel',
            'bg-rose-50 text-rose-700 ring-rose-700/10':
              type.type.name === 'fairy'
          }"
          >{{ type.type.name }}</span
        >
      </span>
    </div>
  </div>
</div>
